.button {
  @include reset-btn;
  padding: rem(18) rem(24);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-500);
  border: 1px solid transparent;
  border-radius: rem(10);
  &.active {
    background: var(--grey-08);
    border-color: var(--grey-15);
  }
  &.primary {
    background: var(--purple-60);
  }
  &.secondary {
    background: var(--grey-08);
    border-color: var(--grey-15);
  }
}
