.info {
  padding: rem(16) rem(24);
  border-radius: rem(12);
  border: 1px solid var(--grey-15);
  background: var(--grey-10);
  display: flex;
  flex-direction: column;
  gap: rem(2);
  min-width: rem(239);
  @media (max-width: $tablet) {
    flex-grow: 1;
    text-align: center;
  }
  &__value {
    line-height: 1.5;
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-700);
  }
  &__text {
    color: var(--grey-60);
  }
}
