.container {
  --container-max-width: #{rem(1920)};
  --container-padding: #{rem(162)};
  width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
  margin: 0 auto;
  @media (max-width: $tablet) {
    --container-padding: #{rem(15)};
  }
}
