@use "constants" as *;
@use "mixins" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  min-height: 100%;
  overflow-y: auto;
}

html {
  font-size: 16px;
  @media (max-width: $desktop) {
    font-size: vw(16);
  }
  @media (min-width: ($desktop + 1px)) {
    font-size: clamp(16px, vw(16, 1920), 24px);
  }
  @media (max-width: $tablet) {
    font-size: 16px;
  }
}

body {
  font-family: var(--ff-default);
  font-style: var(--default-font-style);
  font-size: var(--font-size-18);
  line-height: 1.5;
  font-weight: var(--font-weight-500);
  color: var(--white);
  background: var(--grey-08);
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
