.h1 {
  line-height: 1.2;
  font-weight: 600;
  font-size: var(--font-size-60);
}

.h2 {
  line-height: 1.5;
  font-weight: 600;
  font-size: var(--font-size-48);
}

.h3 {
  line-height: 1.5;
  font-weight: 600;
  font-size: var(--font-size-24);
}
