.cta {
  padding-block: rem(100);
  background: url("/images/cta/bg.svg") no-repeat top / cover;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: rem(20);
      align-items: initial;
    }
  }
  &__title {
    margin-bottom: rem(14);
  }
  &__text {
    max-width: rem(1154);
    color: var(--grey-60);
  }
}
