.featured {
  $this: &;
  margin-bottom: rem(150);
  &__list {
    margin-bottom: rem(50);
  }
  &__navigation {
    display: flex;
    height: rem(69);
    padding-top: rem(16);
    border-top: 1px solid var(--grey-15);
  }
  &__navigation-buttons {
    position: relative;
    margin-left: auto;
    display: flex;
    gap: rem(10);
  }
  &__navigation-count {
    span {
      color: var(--grey-60);
      line-height: 1.5;
      font-size: var(--font-size-20);
    }
  }
  &__navigation-button-icon {
    --size: #{rem(30)};
    width: var(--size);
    height: var(--size);
  }
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    --size: #{rem(58)};
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--grey-15);
    background: var(--grey-10);
    border-radius: 100vmax;
    position: static;
    margin-top: 0;

    &::after {
      display: none;
    }
  }
  :global(.swiper-button-prev) {
    #{$this}__navigation-button-icon {
      transform: rotate(180deg);
    }
  }
  :global(.swiper-slide) {
    height: auto;
  }
}
